.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .card{
        background-color: #2D2727;
        padding: 1rem;
        color: #fff;
        box-shadow: rgba(242, 242, 248, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
}