.container-home{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card-home{
        width: 320px;
        height: 240px;
        margin: 0.6rem;
        border: 2px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        .img-background{
            width: 100%;
            height: 90%;
            background-size: cover;
            background-position: center;
        }

    }
}