.navbar-container{
    background-color: #CCD5AE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    .brand-container{
        font-size: 1rem;
        text-transform: uppercase;
        
        .link{
            text-decoration: none;
        }
    }
}