.Userpage{
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-rows: 1 1;
    // display: flex;
    // gap: 1rem;
    // flex-direction: row;
    align-items: center;
    justify-content: center;
}
.userlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form{
        display: flex;
        flex-direction: column;
    }
}
.googlelogin{
    display: flex;
    gap: 1rem;
    button{
        padding: 10px;
        border-radius: 3px;
        
    }
    .google{
        background-color: #1627c0;
        color: #fff;
        display: flex;
        gap: 1rem;
    }
    .linkedin{
        background-color: #111;
        color: #fff;
        display: flex;
        gap: 1rem;
    }
    .signout{
        background-color: #333;
        color: #fff;

    }
}