.footer{
    color: #fff;
    text-align: center;
    background-color: #393646;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content{
        display: flex;
        justify-content: space-between;
        .icons{
            display: flex;
            gap: 1rem;
        }
    }

}