.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    .banner-img{
        width: 600vw;
        height: auto;
        .banner-img-container{
            width: 100vw;
            height: 420px;
            .img-banner{
                width: 100%;
                height: 420px;
            }
        }
    }
}